@font-face {
  font-family: 'Mountains of Christmas';
  font-style: normal;
  font-weight: 700;
  src: local('Mountains of Christmas Bold'), local('MountainsofChristmas-Bold'), url(../fonts/moutains_of_christmas.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

#message {
  position: absolute;
  left: 0;
  top: 30%;
  z-index: 10;

  font-size: 6.5vw;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 1px;
  width: 100%;
  color: #fff;
  font-family: 'Mountains of Christmas', cursive;
}

.christmas-blue {
  background: -webkit-linear-gradient(transparent, transparent), url(../images/blue_glitter.gif) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 8px;
}

.christmas-gold {
  background: -webkit-linear-gradient(transparent, transparent), url(../images/gold_glitter.gif) repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 8px;
}
